<footer id="footer">
    <div class="container-fluid footer-container-fluid">

        <a target="_blank" href="https://www.linkedin.com/in/eduardo-salazar-3a92791bb/">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>

        <a target="_blank" href="https://github.com/EduardoSalazar252">
            <i class="fab fa-github fa-2x"></i>
        </a>

        <a target="_blank" href="https://codepen.io/Eduardo-Salazar-the-reactor">
            <i class="fab fa-codepen fa-2x" aria-hidden="true"></i>
        </a>

    </div>

    <div style="text-align:center">
        © @DateTime.Now.Year Eduardo Salazar. All rights reserved
    </div>

</footer>



