@*<footer id="footer">
    <div class="container-fluid footer-container-fluid">

        <a target="_blank" href="https://www.linkedin.com/in/eduardo-salazar-3a92791bb/">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>

        <a target="_blank" href="https://github.com/EduardoSalazar252">
            <i class="fab fa-github fa-2x"></i>
        </a>

        <a target="_blank" href="https://codepen.io/Eduardo-Salazar-the-reactor">
            <i class="fab fa-codepen fa-2x" aria-hidden="true"></i>
        </a>

    </div>

    <div style="text-align:center; color: White">
        © @DateTime.Now.Year Eduardo Salazar. All rights reserved
    </div>

</footer>
*@
<!-- Footer
================================================== -->
<footer id="footer">
	<div class="footer-top">
		<div class="container text-center">
			<div class="footer-logo">
				<p><u>Eduardo Salazar</u></p>
			</div>
			<div class="social-icons">
				<ul>
					<li>
						<a target="_blank" href="https://www.linkedin.com/in/eduardo-salazar-3a92791bb/">
							<i class="fab fa-linkedin fa-2x"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://github.com/EduardoSalazar252">
							<i class="fab fa-github fa-2x"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://codepen.io/Eduardo-Salazar-the-reactor">
							<i class="fab fa-codepen fa-2x" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p>&copy; @DateTime.Now.Year Eduardo Salazar. All rights reserved</p>
				</div>
				<div class="col-sm-6">
					<p class="pull-right">Developed by <a href="/">Eduardo Salazar</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>