@inherits LayoutComponentBase

<PageTitle>Eduardo Salazar's Portfolio</PageTitle>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>

</div>

<Footer />