@inherits LayoutComponentBase

<PageTitle>Eduardo Salazar's Portfolio</PageTitle>

<Notify />

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>



    <main style="height: 100vh;overflow-y: auto;">

        <article>
            @Body
        </article>

        <Footer />

    </main>

</div>

