.bg-info {
    color: #ffffff;
    border-color: rgb(0, 255, 255);
    background-color: rgba(0, 174, 255, 0.7);
}

.bg-success {
    color: #ffffff;
    border-color: rgb(34, 139, 34);
    background-color: rgba(80, 200, 120, 0.7);
}

.bg-warning {
    color: #ffffff;
    border-color: rgb(255, 109, 0);
    background-color: rgba(255, 149, 0,0.7);
}

.bg-danger {
    color: #ffffff;
    outline-color: #ecaba7;
    background-color: rgba(255, 0, 0,0.7);
}

.cs-Notify {
    display: none;
}

.cs-Notify-icon {
    display: flex;
}

.cs-Notify-body {
    display: flex;
}

    .cs-Notify-body p {
        margin-bottom: 0;
    }

.cs-Notify-visible {
    display: block;
    position: relative;
    border: 1px solid #dfdfdf;
    z-index: 1030;
    padding: 1rem;
    font-size: .875rem;
    /*margin: 0 0 0.2rem 0;*/
    border-radius: 10px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
