<div class="skill" id="Section_0">

    <div class="Sections-titles">
        <h1>Skills</h1>
    </div>

    <div class="flt-l" id="Subsection_1">
       <SubSection1/>
    </div>

    <div class="Section_2-subcontainer flt-l mtt-2" id="Subsection_2">
        <div class="Sections-sub-titles">
            <h1>Web solution stack:</h1>
        </div>
        <div class="row about-me-row mtt-2 wth-100" style="padding:1%">
            <div class="header2">
                <h2>W.I.S.A.</h2>
            </div>
            <div class="col-md-4 skills-left wisa-logo-container">
                <div class="row-content">
                    <div class="logo-grid">
                        <ul>
                            <li class="wisa-li"><a><img src="img/WindowsServer.png" alt="" height="150px" width="190px"></a></li>
                            <li class="wisa-li"><a><img src="img/MicrosoftIIS.png" alt="" height="150px" width="190px"></a></li>
                            <li class="wisa-li"><a><img src="img/MSQLS.png" alt="" height="150px" width="190px"></a></li>
                            <li class="wisa-li"><a><img src="img/ASP.png" alt="" height="150px" width="190px"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Section_2-subcontainer flt-l mtt-2" id="Subsection_3">
        <div class="Sections-sub-titles">
            <h1>Ide & Software Applications:</h1>
        </div>
        <div class="row about-me-row mtt-2 wth-100">
            <div class="col-md-6 skills-left">
                <div class="row-content">
                    <div class="logo-grid">
                        <ul>
                            <li><a><img src="img/visualstudio.svg.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/vscode.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/sqlsm.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/iis.png" alt="" height="110px" width="110px"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 skills-right pdt-1">
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(33, 53, 85);"><span>Visual Studio</span></div>
                    <div class="skillbar-bar" style="background: rgb(33, 53, 85); width: 95%;"></div>
                    <div class="percent-bar">95%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(39, 55, 77)"><span>Visual Code</span></div>
                    <div class="skillbar-bar" style="background: rgb(39, 55, 77); width: 80%;"></div>
                    <div class="percent-bar">80%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(79, 112, 156)"><span>SQL Management studio</span></div>
                    <div class="skillbar-bar" style="background: rgb(79, 112, 156); width: 80%;"></div>
                    <div class="percent-bar">80%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background:rgb(82, 109, 130)"><span>IIS Server Manager</span></div>
                    <div class="skillbar-bar" style="background: rgb(82, 109, 130); width: 85%;"></div>
                    <div class="percent-bar">85%</div>
                </div>            
            </div>
        </div>
    </div>

    <div class="Section_2-subcontainer flt-l mtt-2" id="Subsection_4">
        <div class="Sections-sub-titles">
            <h1>Web frameworks:</h1>
        </div>
        <div class="row about-me-row mtt-2 wth-100">
            <div class="col-md-6 skills-right pdt-1">
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(92, 45, 145);"><span>Blazor</span></div>
                    <div class="skillbar-bar" style="background: rgb(92, 45, 145); width: 90%;"></div>
                    <div class="percent-bar">90%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background:  rgb(109, 66, 156)"><span>.NET Core</span></div>
                    <div class="skillbar-bar" style="background:  rgb(109, 66, 156); width: 80%;"></div>
                    <div class="percent-bar">80%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(135, 90, 182)"><span>.NET Framework</span></div>
                    <div class="skillbar-bar" style="background: rgb(135, 90, 182); width: 75%;"></div>
                    <div class="percent-bar">75%</div>
                </div>
            </div>
            <div class="col-md-6 skills-left">
                <div class="row-content">
                    <div class="logo-grid">
                        <ul>
                            <li><a><img src="img/Blazor.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/NETCore.svg.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/NETFramework.png" alt="" height="110px" width="110px"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

    <div class="Section_2-subcontainer flt-l mtt-2" id="Subsection_5">
        <div class="Sections-sub-titles">
            <h1>Programming languages:</h1>
        </div>
        <div class="row about-me-row mtt-2 wth-100">
            <div class="col-md-6 skills-left">
                <div class="row-content">
                    <div class="logo-grid">
                        <ul>
                            <li><a><img src="img/csharp.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/HTML5.svg.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/CSS3.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/javascrip.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/jquery.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/SQL.png" alt="" height="110px" width="110px"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 skills-right pdt-1">
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(33, 53, 85)"><span>C#</span></div>
                    <div class="skillbar-bar" style="background: rgb(33, 53, 85); width: 95%;"></div>
                    <div class="percent-bar">95%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(39, 55, 77)"><span>HTML5</span></div>
                    <div class="skillbar-bar" style="background: rgb(39, 55, 77); width: 90%;"></div>
                    <div class="percent-bar">90%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(79, 112, 156)"><span>CSS3</span></div>
                    <div class="skillbar-bar" style="background: rgb(79, 112, 156); width: 87%;"></div>
                    <div class="percent-bar">87%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(82, 109, 130)"><span>Javascrpit/JQuery</span></div>
                    <div class="skillbar-bar" style="background: rgb(82, 109, 130); width: 80%;"></div>
                    <div class="percent-bar">80%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(157, 178, 191)"><span>SQL</span></div>
                    <div class="skillbar-bar" style="background: rgb(157, 178, 191); width: 75%;"></div>
                    <div class="percent-bar">75%</div>
                </div>
            </div>
        </div>
    </div>

    <div class="Section_2-subcontainer flt-l mtt-2" id="Subsection_6">
        <div class="Sections-sub-titles">
            <h1>Cloud computing services:</h1>
        </div>
        <div class="row about-me-row mtt-2 wth-100">
            <div class="col-md-6 skills-right pdt-1">
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(92, 45, 145);"><span>Azure Devops</span></div>
                    <div class="skillbar-bar" style="background: rgb(92, 45, 145); width: 90%;"></div>
                    <div class="percent-bar">90%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background:  rgb(109, 66, 156)"><span>GitHub</span></div>
                    <div class="skillbar-bar" style="background:  rgb(109, 66, 156); width: 80%;"></div>
                    <div class="percent-bar">80%</div>
                </div>
                <div class="skills-bar">
                    <div class="skill-bar-title" style="background: rgb(135, 90, 182)"><span>Codepen</span></div>
                    <div class="skillbar-bar" style="background: rgb(135, 90, 182); width: 90%;"></div>
                    <div class="percent-bar">90%</div>
                </div>
            </div>
            <div class="col-md-6 skills-left">
                <div class="row-content">
                    <div class="logo-grid">
                        <ul>
                            <li><a><img src="img/AzureDevops.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/GitHub.png" alt="" height="110px" width="110px"></a></li>
                            <li><a><img src="img/Codepen.png" alt="" height="110px" width="110px"></a></li>
                        </ul>
                    </div>
                </div>
            </div>          
        </div>
    </div>

</div>