<div class="skill" id="Section_0" style="margin-top: 2%;">

    <div class="Sections-titles">
        <h1>Contact me</h1>
    </div>

    <!-- Start Contact Me -->
@*    <div id="contact" class="row contact">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <form method="POST" role="form" action="http://formspree.io/">
                <input type="hidden" name="_next" value="//site.io/thanks.html" />
                <input type="hidden" name="_subject" value="New submission!" />
                <input type="text" name="_gotcha" style="display:none" />

                <div class="form-group">
                    <label for="InputName">Your Name</label>
                    <input type="text" class="form-control" name="name" id="InputName" placeholder="Enter Name" required>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Your Email</label>

                    <input type="email" class="form-control" id="InputEmail" name="_replyto" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Message</label>

                    <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                </div>

                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </form>
        </div>

        <div class="col-md-4 spacer">
            If you are interested on my profile and you need to get in touch, please feel free to  contact me using the contact form or the info below.
            <div class="row text-center spacer">
                <p class="paragrph">
                    <strong>Email:</strong> e.salazar.v.252@gmail.com <br>
                    <strong>Phone:</strong> +58 424 135-55-01
                </p>
            </div>
        </div>
    </div>*@

    <div id="contact">
        <div class="Sections-sub-titles" style="margin-top: 2%;">
                <h1>Get in Touch:</h1>
            </div>
         @*   <div class="section-title center">
                <h2>Get in Touch</h2>
                <div class="line">
                </div>
            </div>*@
            <div class="gap"></div>
            <div class="address" style="margin-top: 2%; text-align: center;">
                Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or opportunities to be a part of your visions. Email me with any questions or inquiries. I'll happy to answer your questions and set up a meeting with you.
            </div>
            <div id="contact-form">
                <div id="message"></div>
                <form method="post" action="php/contact.php" name="contactform" id="contactform">
                    <input name="name" type="text" id="name" class="inputForm2" placeholder="Name">
                    <input name="email" type="text" id="email" placeholder="Email">
                    <textarea name="comments" id="comments" placeholder="Message"></textarea>
                    <input type="submit" class="send_message transition" id="submit" value="Send Message" />
                </form>
            </div>

        

    </div>
</div>
