<div class="skill" id="Section_0">
	<div class="Sections-titles">
        <h1>Projects</h1>
    </div>

	<!-- Works
	================================================== -->
	<div id="portfolio" class="text-center">
		<section id="works" class="container">

			<ul class="portfolio-items">
				<li class="portfolio-item">
					<div class="item-inner">
						<img src="img/Calendariotributario.png" alt="">
						<h5>Calendario Tributario</h5>
						<div class="layer">
							<a class="preview view" href="https://portaltributario.kpmg.com.ve/" target="_blank"><i class="fa fa-eye"></i></a>
						</div>
					</div>
				</li>
				<!--/.portfolio-item-->
				<li class="portfolio-item">
					<div class="item-inner">
						<img src="img/Brochure.png" alt="">
						<h5>Brochure</h5>
						<div class="layer">
							<a class="preview view" href="https://brochure.kpmg.com.ve/" target="_blank"><i class="fa fa-eye"></i></a>
						</div>
					</div>
				</li>
				<!--/.portfolio-item-->
				<li class="portfolio-item">
					<div class="item-inner">
						<img src="img/RetoU.png" alt="">
						<h5>RetoU</h5>
						<div class="layer">
							<a class="preview view" href="https://retou.org/" target="_blank"><i class="fa fa-eye"></i></a>
						</div>
					</div>
				</li>
				<!--/.portfolio-item-->
			@*	<li class="portfolio-item">
					<div class="item-inner">
						<img src="img/imagenotfound.png" alt="">
						<h5>Lorem ipsum dolor sit amet</h5>
						<div class="layer">
							<a class="preview view" href="img/imagenotfound.png"><i class="fa fa-eye"></i></a>
						</div>
					</div>
				</li>
				<!--/.portfolio-item-->
				<li class="portfolio-item">
					<div class="item-inner">
						<img src="img/imagenotfound.png" alt="">
						<h5>Lorem ipsum dolor sit amet</h5>
						<div class="layer">
							<a class="preview view" href="img/imagenotfound.png"><i class="fa fa-eye"></i></a>
						</div>
					</div>
				</li>
				<!--/.portfolio-item-->
				<li class="portfolio-item">
					<div class="item-inner">
						<img src="img/imagenotfound.png" alt="">
						<h5>Lorem ipsum dolor sit amet</h5>
						<div class="layer">
							<a class="preview view" href="img/imagenotfound.png"><i class="fa fa-eye"></i></a>
						</div>
					</div>
				</li>
				<!--/.portfolio-item-->
				<li class="portfolio-item">
					<div class="item-inner">
						<img src="img/imagenotfound.png" alt="">
						<h5>Lorem ipsum dolor sit amet</h5>
						<div class="layer">
							<a class="preview view" href="img/imagenotfound.png"><i class="fa fa-eye"></i></a>
						</div>
					</div>
				</li>
				<!--/.portfolio-item-->
				<li class="portfolio-item">
					<div class="item-inner">
						<img src="img/imagenotfound.png" alt="">
						<h5>Lorem ipsum dolor sit amet</h5>
						<div class="layer">
							<a class="preview view" href="img/imagenotfound.png"><i class="fa fa-eye"></i></a>
						</div>
					</div>
				</li>*@
				<!--/.portfolio-item-->
			</ul>
		</section>
		<!--/#portfolio-->
	</div>
</div>
