<div class="skill" id="Section_0">

    <div class="Sections-titles">
        <h1>Experience</h1>
    </div>

    <div class="Section_3-container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <div class="timeline-content">
                            <i class="icon fa fa-briefcase"></i>
                            <p class="description">
                                <b>KPMG</b><br />
                                <i>Analyst Semi-Senior</i><br />
                                <u>Collaborating with internal teams to:</u><br />
                                <b>•</b> Create new digital products.<br />
                                <b>•</b> Transform, adapt and bringing routines or working methodologies to the digital world.<br />
                                <b>•</b> Applying the Scrum framework on a day to day basis.<br />
                                <b>•</b> Designing and developing Web Applications in an ASP.NET <b>Blazor</b>.<br />
                                <b>•</b> Reengineering projects from <b>(Framework) MVC model</b> and <b>Core MVC model</b> to ASP.NET <b>Blazor</b>.<br />
                                <b>•</b> Front-End development with: <b>-CSS3 -HTML5 -JavaScript</b>.<br />
                                <b>•</b> Back-End development with: <b>-C#</b>.<br />
                                <b>•</b> Services: <b>Claim Transformations, Active Directory, Email Service, Fluent Validations and more</b>.<br />
                                <b>•</b> Using SQL management studio to create relational database for projects.<br />
                                <b>•</b> Create and set up Microsoft web servers.<br />
                                <b>•</b> Create and set up Applications Pools and Sites using IIS server manager to publish projects in DEV and PROD environments.<br />
                                <b>•</b> Train and manage junior responsabilities.<br />
                                <b>•</b> Identifying training needs.<br />
                                <b>•</b> Helping juniors in career development.<br />
                                <b>•</b> Tracking training and development progress.<br />
                                <b>•</b> Giving applications support to clients via service desk.
                            </p>
                        </div>
                        <div class="year"><span>Sept 2021-Present</span></div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <div class="timeline-content">
                            <i class="icon fa fa-briefcase"></i>
                            <p class="description">
                                <b>KPMG</b><br />
                                <i>Consultant 1</i><br />
                                <u>Collaborating with internal teams to:</u><br />
                                <b>•</b> Create new digital products.<br />
                                <b>•</b> Transform, adapt and bringing routines or working methodologies to the digital world.<br />
                                <b>•</b> Applying the Scrum framework on a day to day basis.<br />
                                <b>•</b> Designing and developing Web Applications in an ASP.NET <b>Core MVC model</b>.<br />
                                <b>•</b> Designing and developing Web Applications in an ASP.NET <b>(Framework) MVC model</b>.<br />
                                <b>•</b> Front-End development with: <b>-CSS3 -HTML5 -JavaScript</b>.<br />
                                <b>•</b> Back-End development with: <b>-C#</b>.<br />
                                <b>•</b> Services: Claim Transformations, Active Directory.<br />
                                <b>•</b> Using SQL management studio to create relational database for projects.<br />
                                <b>•</b> Giving applications support to clients via service desk.
                            </p>
                        </div>
                        <div class="year"><span>Sept 2019-Sept 2021</span></div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <div class="timeline-content">
                            <i class="icon fa fa-university"></i>
                            <p class="description">
                                <b>Mathematics Tutor</b><br />
                                <u>What I did:</u><br />
                                <b>•</b> Facilitated several math courses as an assistant by offering additional guidance and support to struggling students during class.<br />
                                <b>•</b> Completed comprehensive performance review sessions, contributing to a 40% increase in students' grades.<br />
                                <b>•</b> Specialized as an individual tutor by simplifying math concepts and coaching students to develop problem-solving and critical-thinking skills.<br />
                                <b>•</b> Tracked students' progress and identified alternative tutoring strategies to help students achieve their math goals.<br />
                                <b>•</b> Improved students' algebra skills significantly by creating practice quizzes and worksheets to help prepare for tests and exams.<br />
                                <b>•</b> Developed daily lesson plans for activities which helped cultivate a positive, fun, and engaging learning environment for students.
                            </p>
                        </div>
                        <div class="year"><span>2014-2019</span></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>