/*======================================================================================*/
/*                                   Contact Section*/
/*======================================================================================*/

#contact-form {
    text-align: center !important;
    max-width: 650px;
    margin: 2% auto;
    float: none;
}

    #contact-form input[type="text"], #contact-form textarea {
        color: #7F8289;
        font-size: 16px;
        padding: 15px 0;
        width: 100%;
        padding-left: 10px;
        background: rgba(255,255,255,0.2);
        position: relative;
        border: 1px solid #26292E
    }

        #contact-form input[type="text"]:focus, #contact-form textarea:focus {
            color: #fff;
            outline: none;
        }

#contact #contact-form button[type="submit"] {
    float: none;
    margin: 20px auto;
}

    #contact-form textarea {
        height: 170px;
        resize: none;
    }

.address {
    display: block;
    color: #7F8289;
}