.Section_1-container {
    height: 100vh;
    position: relative;
}
    .Section_1-container img {
        width: 100%;
        height: 100vh
    }

    .Section_1-container .Text-container {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        padding: 1%;
    }

        .Section_1-container .Text-container h1 {
            font-family: Lucida Calligraphy;
        }

        .Section_1-container .Text-container i {
            margin-right: 10px;
        }

        .Section_1-container .Text-container .about-context {
            font-style: italic;
        }

.My-portrait {
    margin: 1% auto;
    width: 11em;
    height: 11em;
    border-radius: 100%;
    background-repeat: no-repeat;
    /*    background: url('img/Usuario.png');*/
    background: url('img/EduardoSalazar.jpg');
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
    box-shadow: 1px 5px 15px #fff;
}
@media (max-width: 1243px) {

    .Section_1-container .Text-container {
        width: 100%;
        height: 80%;
        padding: 3%;
        top: 7%;
        background-color: rgba(0,0,0,0.7);
    }

        .Section_1-container .Text-container h1 {
            font-size: 2rem;
        }

    ..Section_1-container .Text-container .about-subtitle {
        font-size: 1.1rem;
    }

    .Section_1-container .Text-container .about-context {
        font-size: 0.87rem;
    }
}

@media (min-width: 1244px) {
    .Section_1-container .Text-container {
        width: 59%;
        height: 72%;
    }

        .Section_1-container .Text-container h1 {
            font-size: 3.5rem;
        }

        .Section_1-container .Text-container .about-subtitle {
            font-size: 1.6rem;
        }

        .Section_1-container .Text-container .about-context {
            font-size: 1.1rem;
        }
}
