<div class="skill" id="Section_0">

    <div class="Sections-titles">
        <h1>Skills</h1>
    </div>

    <div class="flt-l" id="Subsection_1">
       <SubSection1/>
    </div>

    <div class="Section_2-subcontainer flt-l " id="Subsection_2">
       <SubSection2/>
    </div>

    <div class="Section_2-subcontainer flt-l " id="Subsection_3">
        <SubSection3 />
    </div>

    <div class="Section_2-subcontainer flt-l " id="Subsection_4">
        <SubSection4 />
    </div>

    <div class="Section_2-subcontainer flt-l " id="Subsection_5">
        <SubSection5 />
    </div>

    <div class="Section_2-subcontainer flt-l " id="Subsection_6">
        <SubSection6 />
    </div>

</div>