<div class="Section_1-container">

    <img src="img/banner-1.jpg"/>

    <div class="Text-container">

        <div class="My-portrait"></div>

        <h1>Eduardo Salazar</h1>

        <p class="about-subtitle">I'm a Full-Stack Developer</p>

        <p class="about-context">
            “Experienced Full Stack skilled in W.I.S.A. web solution stack (Windows Server, Internet Information Services, 
            Microsoft SQL Server and ASP.NET), Blazor framework and various development languages. Currently working as 
            a self-motivated Full Stack Developer focused on project execution. Self-directed learning and software development are my passion.”
        </p>

        <a class="btn btn-outline-light" href="docs/resume eduardo salazar.pdf" download>
            <i class="fa fa-download fa-lg"></i> Download Resume
        </a>
    </div>

</div>
