<div class="Sections-sub-titles">
    <h1>Programming languages:</h1>
</div>
<div class="row about-me-row mtt-2 wth-100">
    <div class="col-md-6 skills-left">
        <div class="row-content">
            <div class="logo-grid">
                <ul>
                    <li><a><img src="img/csharp.png" alt="" height="110px" width="110px"></a></li>
                    <li><a><img src="img/HTML5.svg.png" alt="" height="110px" width="110px"></a></li>
                    <li><a><img src="img/CSS3.png" alt="" height="110px" width="110px"></a></li>
                    <li><a><img src="img/javascrip.png" alt="" height="110px" width="110px"></a></li>
                    <li><a><img src="img/jquery.png" alt="" height="110px" width="110px"></a></li>
                    <li><a><img src="img/SQL.png" alt="" height="110px" width="110px"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 skills-right pdt-1">
        <div class="skills-bar">
            <div class="skill-bar-title" style="background: rgb(33, 53, 85)"><span>C#</span></div>
            <div class="skillbar-bar" style="background: rgb(33, 53, 85); width: 95%;"></div>
            <div class="percent-bar">95%</div>
        </div>
        <div class="skills-bar">
            <div class="skill-bar-title" style="background: rgb(39, 55, 77)"><span>HTML5</span></div>
            <div class="skillbar-bar" style="background: rgb(39, 55, 77); width: 90%;"></div>
            <div class="percent-bar">90%</div>
        </div>
        <div class="skills-bar">
            <div class="skill-bar-title" style="background: rgb(79, 112, 156)"><span>CSS3</span></div>
            <div class="skillbar-bar" style="background: rgb(79, 112, 156); width: 87%;"></div>
            <div class="percent-bar">87%</div>
        </div>
        <div class="skills-bar">
            <div class="skill-bar-title" style="background: rgb(82, 109, 130)"><span>Javascrpit/JQuery</span></div>
            <div class="skillbar-bar" style="background: rgb(82, 109, 130); width: 80%;"></div>
            <div class="percent-bar">80%</div>
        </div>
        <div class="skills-bar">
            <div class="skill-bar-title" style="background: rgb(157, 178, 191)"><span>SQL</span></div>
            <div class="skillbar-bar" style="background: rgb(157, 178, 191); width: 75%;"></div>
            <div class="percent-bar">75%</div>
        </div>
    </div>
</div>