<div class="Sections-sub-titles mtt-2">
    <h1>What I do:</h1>
</div>
<div class="what-i-do">
    <figure class="doing">
        <span class="ion-code-working">
            <a>
                <i class="fa fa-code"></i>
            </a>
        </span>
        <figcaption>
            <div class="header">
                <h2>Front end / Back end</h2>
            </div>
            <p>Propose and develop digital solutions to customer problems .</p>
        </figcaption>
    </figure>
    <figure class="doing">
        <span class="ion-code-working">
            <a>
                <i class="fa fa-mobile" aria-hidden="true"></i>
            </a>
        </span>
        <figcaption>
            <div class="header">
                <h2>Responsive design</h2>
            </div>
            <p>Making your website fully responsive</p>
        </figcaption>
    </figure>
    <figure class="doing">
        <span class="ion-code-working">
            <a>
                <i class="fa fa-cogs"></i>
            </a>
        </span>
        <figcaption>
            <div class="header">
                <h2>Performance</h2>
            </div>
            <p>Optimizing your website to get the best performance.</p>
        </figcaption>
    </figure>
</div>