<div class="Sections-sub-titles">
    <h1>Web solution stack:</h1>
</div>
<div class="row about-me-row mtt-2 wth-100" style="padding:1%">
    <div class="header2">
        <h2>W.I.S.A.</h2>
    </div>
    <div class="col-md-4 skills-left wisa-logo-container">
        <div class="row-content">
            <div class="logo-grid">
                <ul>
                    <li class="wisa-li"><a><img src="img/WindowsServer.png" alt="" height="150px" width="190px"></a></li>
                    <li class="wisa-li"><a><img src="img/MicrosoftIIS.png" alt="" height="150px" width="190px"></a></li>
                    <li class="wisa-li"><a><img src="img/MSQLS.png" alt="" height="150px" width="190px"></a></li>
                    <li class="wisa-li"><a><img src="img/ASP.png" alt="" height="150px" width="190px"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>