<div class="Sections-sub-titles">
    <h1>Web frameworks:</h1>
</div>
<div class="row about-me-row mtt-2 wth-100">
    <div class="col-md-6 skills-right pdt-1">
        <div class="skills-bar">
            <div class="skill-bar-title" style="background: rgb(92, 45, 145);"><span>Blazor</span></div>
            <div class="skillbar-bar" style="background: rgb(92, 45, 145); width: 90%;"></div>
            <div class="percent-bar">90%</div>
        </div>
        <div class="skills-bar">
            <div class="skill-bar-title" style="background:  rgb(109, 66, 156)"><span>.NET Core</span></div>
            <div class="skillbar-bar" style="background:  rgb(109, 66, 156); width: 80%;"></div>
            <div class="percent-bar">80%</div>
        </div>
        <div class="skills-bar">
            <div class="skill-bar-title" style="background: rgb(135, 90, 182)"><span>.NET Framework</span></div>
            <div class="skillbar-bar" style="background: rgb(135, 90, 182); width: 75%;"></div>
            <div class="percent-bar">75%</div>
        </div>
    </div>
    <div class="col-md-6 skills-left">
        <div class="row-content">
            <div class="logo-grid">
                <ul>
                    <li><a><img src="img/Blazor.png" alt="" height="110px" width="110px"></a></li>
                    <li><a><img src="img/NETCore.svg.png" alt="" height="110px" width="110px"></a></li>
                    <li><a><img src="img/NETFramework.png" alt="" height="110px" width="110px"></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>