@page "/"

<PageTitle>Index</PageTitle>

<div id="Section_1">
    <Section1 />
</div>

<div id="Section_2" class="mtb-2">
    <Section2 />
</div>

<div id="Section_3" class="mtb-2">
    <Section3 />
</div>

<div id="Section_4" class="mtb-2">
    <Section4 />
</div>

@*<div id="Section_5" class="mtb-2">
    <Section5 />
</div>

<div id="Section_6">
    <Section6 />
</div>
*@


@code {

}