<div class="skill" id="skill">

    <div class="portfolio-about-me">
        <h1 style="font-family: Lucida Calligraphy;">Experience</h1>
    </div>

    <div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">

                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <i class="icon fa fa-briefcase"></i>
                                <p class="description">
                                    <b>KPMG</b><br />
                                    <i>Analyst Semi-Senior</i><br />
                                    <u>Collaborating with internal teams to:</u><br />
                                    -Create new digital products.<br />
                                    -Transform, adapt and bringing routines or working methodologies to the digital world.<br />
                                    -Applying the Scrum framework on a day to day basis.<br />
                                    -Designing and developing Web Applications in an ASP.NET (Framework) MVC model.<br />
                                    -Designing and developing Web Applications in an ASP.NET Core MVC model.<br />
                                    -Designing and developing Web Applications in an ASP.NET Blazor.<br />
                                    -Front-End development with: -CSS -HTML5 -JavaScript.<br />
                                    -Back-End development with: -C#.<br />
                                    -Services: Claim Transformations, Active Directory,Email Service, Fluent Validations and more.<br />
                                    -Using SQL management studio to create relational database for projects.
                                </p>
                            </div>
                            <div class="year"><span>Sept 2021-Present</span></div>
                        </div>

                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <i class="icon fa fa-briefcase"></i>
                                <p class="description">
                                    <b>KPMG</b><br />
                                    <i>Consultant 1</i><br />
                                    <u>Collaborating with internal teams to:</u><br />
                                    -Create new digital products.<br />
                                    -Transform, adapt and bringing routines or working methodologies to the digital world.<br />
                                    -Applying the Scrum framework on a day to day basis.<br />
                                    -Designing and developing Web Applications in an ASP.NET (Framework) MVC model.<br />
                                    -Designing and developing Web Applications in an ASP.NET Core MVC model.<br />
                                    -Front-End development with: -CSS -HTML5 -JavaScript.<br />
                                    -Back-End development with: -C#.<br />
                                    -Services: Claim Transformations, Active Directory.<br />
                                    -Using SQL management studio to create relational database for projects.
                                </p>
                            </div>
                            <div class="year"><span>Sept 2019-Sept 2021</span></div>
                        </div>

                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <i class="icon fa fa-university"></i>
                                <p class="description">
                                    <b>Mathematics Tutor</b><br />
                                    <u>What I did:</u><br />
                                    -Facilitated several math courses as an assistant by offering additional guidance and support to struggling students during class.<br />
                                    -Completed comprehensive performance review sessions, contributing to a 40% increase in students' grades.<br />
                                    -Specialized as an individual tutor by simplifying math concepts and coaching students to develop problem-solving and critical-thinking skills.<br />
                                    -Tracked students' progress and identified alternative tutoring strategies to help students achieve their math goals.<br />
                                    -Improved students' algebra skills significantly by creating practice quizzes and worksheets to help prepare for tests and exams.<br />
                                    -Developed daily lesson plans for activities which helped cultivate a positive, fun, and engaging learning environment for students.
                                </p>
                            </div>
                            <div class="year"><span>2014-2019</span></div>
                        </div>

                    </div>                 
                </div>
            </div>
        </div>
    </div>

</div>