<div class="skill" id="skill">
    <div class="portfolio-about-me">
        <h1 style="font-family: Lucida Calligraphy;">Experience</h1>
    </div>

    <div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <i class="icon fa fa-briefcase"></i>
                                <p class="description">
                                    <b>KPMG</b><br />
                                    <i>Analyst Semi-Senior 1</i><br />
                                    <u>Collaborating with internal teams to:</u><br />
                                    -Create new digital products.
                                    -Transform, adapt and bringing routines or working methodologies to the digital world.
                                    -Applying the Scrum framework on a day to day basis.
                                    -Designing and developing Web Applications in an ASP.NET (Framework) MVC model.
                                    -Designing and developing Web Applications in an ASP.NET Core MVC model.
                                    -Designing and developing Web Applications in an ASP.NET Blazor.
                                    -Front-End development with: -CSS -HTML5 -JavaScript.
                                    -Back-End development with: -C#.
                                    -Services: Claim Transformations, Active Directory,Email Service, Fluent Validations and more.
                                    -Using SQL management studio to create relational database for projects.
                                </p>
                            </div>
                            <div class="year"><span>Sept 2021-Present</span></div>
                        </div>
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <i class="icon fa fa-briefcase"></i>
                                <p class="description">
                                    <b>KPMG</b><br />
                                    <i>Consultant 1</i><br />
                                    <u>Collaborating with internal teams to:</u><br />
                                    -Create new digital products.
                                    -Transform, adapt and bringing routines or working methodologies to the digital world.
                                    -Applying the Scrum framework on a day to day basis.
                                    -Designing and developing Web Applications in an ASP.NET (Framework) MVC model.
                                    -Designing and developing Web Applications in an ASP.NET Core MVC model.
                                    -Front-End development with: -CSS -HTML5 -JavaScript.
                                    -Back-End development with: -C#.
                                    -Services: Claim Transformations, Active Directory.
                                    -Using SQL management studio to create relational database for projects.
                                </p>
                            </div>
                            <div class="year"><span>Sept 2019-Sept 2021</span></div>
                        </div>
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <i class="icon fa fa-university"></i>
                                <p class="description">
                                    <b>Mathematics Tutor</b><br />
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at laoreet risus, mollis rhoncus felis. Nulla consectetur pretium lacinia. Morbi pharetra, quam non commodo pulvinar, dui diam laoreet purus, vitae commodo ipsum lorem nec lacus. Etiam et malesuada dolor. Integer consequat mauris in orci lobortis, non dictum sem pharetra. Donec ut lacus enim. Sed tempor interdum elementum. Donec consequat interdum consequat.
                                </p>
                            </div>
                            <div class="year"><span>2014-2019</span></div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>






</div>